{{!-- CRUD MENU --}}
<div class="card-header mb-2">
  <a href="/add-contact">
    <button class="btn btn-sm btn-primary">Add Contact</button>
  </a>
  <a class="btn btn-sm btn-primary edit-company-btn" href="/dashboard/edit/{{company.id}}">
    Edit Company
  </a>

  {{!-- add data attribute  --}}
  <button class="btn btn-sm btn-primary delete-company-btn" data-company-id="{{company.id}}">Delete Company</button>

  <a href="/dashboard/add-project/{{company.id}}">
    <button class="btn btn-sm btn-primary">Add Project</button>
  </a>
</div>


{{!-- Company/Contact Card --}}
<div class="card col-12 col-md-6 mb-2">
  <div class="card-header">
    <h2>{{company.name}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-text">{{company.contact.name}}</h5>
    <p class="card-text"><i class="fas fa-envelope"></i> {{company.contact.email}}</p>
    <p class="card-text"><i class="fas fa-phone"></i> {{format_phone company.contact.phone}}</p>
    <p class="card-text"><i class="fas fa-address-card"></i> {{company.address.address_1}},
      {{company.address.address_2}}, {{company.address.city}}, {{company.address.state}} {{company.address.zip_code}}
    </p>
  </div>
</div>



{{!-- All Projects for Company --}}
<div class="card ">
  <div class="card-header">
    <h2>Projects</h2>
  </div>
  {{#each company.projects}}
    <div class="card m-3">
      <div class="card-header">
        <a href="/dashboard/project/{{id}}">
          <h4>{{title}}</h4>
        </a>
      </div>
      <div class="card-body">
        <h4>Type: {{type}}</h4>
        <h4>Price: ${{format_amount price}}</h4>
      </div>
      <div class="card-footer">
        <h6>Due Date: {{format_date due_date}}</h6>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/delete-company.js"></script>