<div class="card col-12 col-md-6">
  <div class="card-header">
    <h2>{{company.name}}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-text">{{company.contact.name}}</h5>
    <p class="card-text"><i class="fas fa-envelope"></i> {{company.contact.email}}</p>
    <p class="card-text"><i class="fas fa-phone"></i> {{company.contact.phone}}</p>
    <p class="card-text"><i class="fas fa-address-card"></i> {{company.address.address_1}},
      {{company.address.address_2}}, {{company.address.city}}, {{company.address.state}} {{company.address.zip_code}}
    </p>
  </div>
</div>




<div class="card">
  <div class="card-header">
    <h2>Projects</h2>
  </div>
  {{#each company.projects}}

    <div class="card">
      <div class="card-header">
        <h4>Project Title: {{title}}</h4>
        <button href="/project/{{project.id}}" class="btn btn-sm btn-primary">New Invoice</button>
        <button class="btn btn-sm btn-primary">Edit Invoice</button>
      </div>
      <div class="card-body">
        <h4>Type: {{type}}</h4>
        <h4>Price: ${{price}}</h4>
      </div>
      <div class="card-footer">
        <h6>Due Date:</h6> {{format_date due_date}}

      </div>
    </div>
  {{/each}}
</div>