<div class="card">
    <h3 class="card-header">Edit Company</h3>
    <div class="row text-center">
        <form class="card-body edit-company-form">
            <h3>Company Info</h3>
            <div class="form-group col-11">
                <input name="company-name" type="text" value="{{company.name}}" class="form-input" />
            </div>
            <h3>Company Contact</h3>
            <div class="form-group col-11">
                <input name="contact-name" type="text" value="{{company.contact.name}}" class="form-input" />
                <input name="contact-email" type="text" value="{{company.contact.email}}" class="form-input" />
                <input name="contact-phone" type="text" value="{{company.contact.phone}}" class="form-input" />
            </div>
            <h3>Company Address</h3>
            <div class="form-group col-11">
                <input name="contact-address-1" type="text" value="{{company.address.address_1}}" class="form-input" />
                <input name="contact-address-2" type="text" value="{{company.address.address_2}}" class="form-input" />
                <input name="contact-city" type="text" value="{{company.address.city}}" class="form-input" />
                <input name="contact-state" type="text" value="{{company.address.state}}" class="form-input" />
                <input name="contact-zip-code" type="text" value="{{company.address.zip_code}}" class="form-input" />
            </div>

            <div class="form-group col-11">
                <button type="submit" class="btn btn-sm btn-primary">Update Company</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/edit-company.js"></script>