{{!-- CRUD MENU --}}
<div class="mb-2">


    <button type="button" class="btn btn-sm btn-primary delete-invoice-btn"><i class="fas fa-trash-alt mr-2"></i>Delete
        Invoice</button>
    <button type="button" class="btn btn-sm btn-primary send-invoice" data-toggle="modal" data-target="#emailModal">
        <i class="fas fa-paper-plane mr-2"></i>Send Invoice
    </button>
</div>

<div class="email-content">

    <h1>Invoice Details</h1>
    {{!-- this is where the actual invoice template will go --}}
    <div class="row justify-content-between">

        <div class="card">
            <div class="card-header">
                <h3>Bill To:</h3>
            </div>
            <div class="card-body">
                <h4 class="mb-4">{{invoice.BillingAddress.company_name}} </h4>
                {{invoice.BillingAddress.address_1}}, {{invoice.BillingAddress.address_2}}</p>
                <p>{{invoice.BillingAddress.city}}, {{invoice.BillingAddress.state}} {{invoice.BillingAddress.zip_code}}
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <p>{{invoice.name}}</p>
                <p>Invoice: {{invoice.id}}</p>
            </div>
            <div class="card-body">
                <h6>Pay By: </h6>
                <p>{{format_date invoice.BillingAddress.pay_by}}</p>

                <h6>Amount Owed:</h6>
                <p class="invoice-total">$</p>
            </div>

        </div>
    </div>


    <div class="card-header">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addItemModal">
            <i class="fas fa-plus mr-2"></i>Add Item
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Price ($)</th>
                <th scope="col">Line Total ($)</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each invoice.items}}
                <tr class="line-item">
                    <td class="description">{{description}}</td>
                    <td class="units">{{units}}</td>
                    <td class="ppu">{{unit_price}}</td>
                    <td class="total"></td>
                    <td>
                        <button class="btn btn-sm btn-primary delete-item-btn" data-item-id="{{id}}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <th>TOTAL</th>
                <td>$</th>
            </tr>
        </tbody>
    </table>

</div>
{{>send-email}}

{{>add-item}}
{{projectInvoice}}
<script src="/js/invoice.js"></script>
<script src="/js/delete-invoice.js"></script>