{{!-- CRUD MENU --}}
<div class="mb-2">


    <button type="button" class="btn btn-sm btn-danger delete-invoice-btn">
        <i class="fas fa-trash-alt mr-2"></i>
        Delete Invoice</button>
    <button type="button" class="btn btn-sm btn-primary send-invoice" data-toggle="modal" data-target="#emailModal">
        <i class="fas fa-paper-plane mr-2"></i>Send Invoice
    </button>
    <button type="button" class="btn btn-sm btn-primary export-pdf">
        <i class="fas fa-file-download mr-2"></i>Export PDF
    </button>
    <button type="button" class="btn btn-sm btn-success paidBtn">
        <i class="far fa-money-bill-alt mr-2"></i>Mark Paid
    </button>
</div>

<div class="email-content" id="invoice">


    {{!-- this is where the actual invoice template will go --}}
    <div class="row justify-content-between">
        {{!-- Billing Details --}}
        <div class="card ">
            <div class="card-header billing-header">
                <h3>Bill To:</h3>
            </div>
            <div class="card-body billing-body">
                <h4 class="mb-4">{{invoice.BillingAddress.company_name}} </h4>
                {{invoice.BillingAddress.address_1}}, {{invoice.BillingAddress.address_2}}</p>
                <p>{{invoice.BillingAddress.city}}, {{invoice.BillingAddress.state}} {{invoice.BillingAddress.zip_code}}
                </p>
            </div>
        </div>
        <div class="card ">
            <h2 class="card-header">Invoice Details</h2>
            <div class="card-body d-flex justify-content-between invoice-header">
                <p>{{invoice.name}}</p>
                <p>Invoice: {{invoice.id}}</p>
            </div>
            <div class="card-body invoice-body">
                <h6>Pay By: </h6>
                <p>{{format_date invoice.BillingAddress.pay_by}}</p>

                <h6>Amount Owed:</h6>
                <p class="invoice-total">$</p>
            </div>

        </div>
    </div>


    <div class="card-header">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addItemModal">
            <i class="fas fa-plus mr-2"></i>Add Item
        </button>
    </div>

    <table id="invoice-table" class="table">
        <thead>
            <tr class="table-header">
                <th scope="col">Description</th>
                <th scope="col">Units</th>
                <th scope="col">Unit Price ($)</th>
                <th scope="col">Line Total ($)</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each invoice.items}}
                <tr class="line-item">
                    <td class="description">{{description}}</td>
                    <td class="units">{{units}}</td>
                    <td class="ppu">{{unit_price}}</td>
                    <td class="total"></td>
                    <td>
                        <button class="btn btn-sm btn-danger delete-item-btn" data-item-id="{{id}}">
                            Delete
                        </button>
                    </td>
                </tr>
            {{/each}}

        </tbody>
    </table>

</div>

<div class="paid-badges">
    <img class="hide" id="unpaid" src="/img/unpaid.png" alt="unpaid">
    <img class="hide" id="paid" src="/img/paid.png" alt="paid">
</div>


{{>send-email}}

{{>add-item}}
{{projectInvoice}}
<script src="/js/invoice.js"></script>
<script src="/js/delete-invoice.js"></script>
<script src="/js/export-pdf.js"></script>