<h1>Sent Invoices</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sent By ID</th>
            <th scope="col">Sent By</th>
            <th scope="col">Invoice ID</th>
            <th scope="col">Sent To</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        {{#each sent}}
            <tr>
                <th scope="row">{{user_id}}</th>
                <td>{{sent_by}}</td>
                <td><a href="/dashboard/invoice/{{invoice_id}}">{{invoice_id}}</a></td>
                <td>{{sent_to_email}}</td>
                <td>{{subject}}</td>
                <td>{{message}}</td>
            </tr>
        {{/each}}

    </tbody>
</table>